## Exploratory Data Analysis

In this notebook the data given by different excel files is explored in order to define the details and constrains in the desing of the Data Model.

In [3]:
# Importar librerias python
import os
import sys
import pandas as pd
import numpy as np
from pathlib import Path

In [4]:
# Importar modulos propios en notebook
project_root = Path(os.getcwd()).parent
sys.path.append(str(project_root))

In [5]:
from db.connection import engine_setting, engine_connection

In [6]:


rootFolder = Path.cwd().parent

excel_path_1_bonos_trab =  rootFolder / "data" / "U532-2024-11-05.xls"
excel_path_2_taller_orden_rep =  rootFolder / "data" / "U533-2024-11-05.xls"
excel_path_3_bonos_pres =  rootFolder / "data" / "U551-2024-11-05.xls"
excel_path_4_stock =  rootFolder / "data" / "U552-2024-11-05.xls"
excel_path_5_compras =  rootFolder / "data" / "U553-2024-11-05.xls"
excel_path_6_mostrador =  rootFolder / "data" / "U554-2024-11-05.xls"
excel_path_7_invertidas =  rootFolder / "data" / "U555-2024-11-05.xls"
excel_path_8_taller_orden_venta =  rootFolder / "data" / "U560-2024-11-05.xls"
excel_path_9_cliente =  rootFolder / "data" / "U6301303-conta-2024-11-06.xls"
excel_path_10_articulo =  rootFolder / "data" / "U6301303-taller-2024-11-05.xls"
excel_path_11_empresas =  rootFolder / "data" / "U6311303-conta-2024-11-06.xls"
excel_path_12_talleres =  rootFolder / "data" / "U6311303-taller-2024-11-05.xls"
excel_path_13_almacenes =  rootFolder / "data" / "U6321303-2024-11-05.xls"
excel_path_14_operarios =  rootFolder / "data" / "U6331303-2024-11-05.xls"
excel_path_15_vehiculo =  rootFolder / "data" / "U6341303-2024-11-05.xls"
excel_path_16_tipos_horas =  rootFolder / "data" / "ULSTTHPT-2024-11-05.xls"
excel_path_17_tipos_venta =  rootFolder / "data" / "ULSTTVPT-2024-11-05.xls"

In [7]:
# Leer el archivo Excel con la ruta completa
df_bonos_trab = pd.read_excel(excel_path_1_bonos_trab)
df_taller_orden_rep = pd.read_excel(excel_path_2_taller_orden_rep)
df_bono_pres = pd.read_excel(excel_path_3_bonos_pres) #.ffill()
df_stock = pd.read_excel(excel_path_4_stock)
df_compras = pd.read_excel(excel_path_5_compras)
df_mostrador = pd.read_excel(excel_path_6_mostrador)
df_invertidas = pd.read_excel(excel_path_7_invertidas).ffill()
df_taller_orden_venta = pd.read_excel(excel_path_8_taller_orden_venta)
df_cliente = pd.read_excel(excel_path_9_cliente)
df_articulos = pd.read_excel(excel_path_10_articulo)
df_empresas = pd.read_excel(excel_path_11_empresas)
df_talleres = pd.read_excel(excel_path_12_talleres)
df_almacenes = pd.read_excel(excel_path_13_almacenes)
df_operarios = pd.read_excel(excel_path_14_operarios)
df_vehiculos = pd.read_excel(excel_path_15_vehiculo)
df_tipos_horas = pd.read_excel(excel_path_16_tipos_horas)
df_tipos_venta = pd.read_excel(excel_path_17_tipos_venta)

WARNING *** file size (2574483) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (2562463) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (1258878) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (1921816) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3295101) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (1176249) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (1486466) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (10548518) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (1032552) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (1046368) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (69079) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (542317) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

invertidas y taller orden rep

In [14]:
tiene_filas_todas_nan = df_bonos_trab.isnull().all(axis=1).any()

print("¿Hay filas con todos los valores NaN?", tiene_filas_todas_nan)

tiene_filas_todas_nan = df_taller_orden_rep.isnull().all(axis=1).any()

print("¿Hay filas con todos los valores NaN?", tiene_filas_todas_nan)

tiene_filas_todas_nan = df_bono_pres.isnull().all(axis=1).any()

print("¿Hay filas con todos los valores NaN?", tiene_filas_todas_nan)

tiene_filas_todas_nan = df_stock.isnull().all(axis=1).any()

print("¿Hay filas con todos los valores NaN?", tiene_filas_todas_nan)

tiene_filas_todas_nan = df_mostrador.isnull().all(axis=1).any()

print("¿Hay filas con todos los valores NaN?", tiene_filas_todas_nan)

tiene_filas_todas_nan = df_taller_orden_venta.isnull().all(axis=1).any()

print("¿Hay filas con todos los valores NaN?", tiene_filas_todas_nan)

tiene_filas_todas_nan = df_cliente.isnull().all(axis=1).any()

print("¿Hay filas con todos los valores NaN?", tiene_filas_todas_nan)

tiene_filas_todas_nan = df_articulos.isnull().all(axis=1).any()

print("¿Hay filas con todos los valores NaN?", tiene_filas_todas_nan)

¿Hay filas con todos los valores NaN? True
¿Hay filas con todos los valores NaN? True
¿Hay filas con todos los valores NaN? True
¿Hay filas con todos los valores NaN? True
¿Hay filas con todos los valores NaN? True
¿Hay filas con todos los valores NaN? True
¿Hay filas con todos los valores NaN? True
¿Hay filas con todos los valores NaN? True

BONOS TRABAJADAS

In [40]:
print(df_bonos_trab.columns)

Index(['Tall', 'Fecha', 'Secc', 'Operario', 'NOMBRE OPERARIO', 'Ref.OR',
       'Tipo O.R.', 'IDV', 'Matricula', 'Entra', 'Salid', 'DIF TRAB'],
      dtype='object')

In [41]:
# Verificar si 'operario' y 'entrada' no son nulos
condicion_operario_entrada = df_bonos_trab['Operario'].notnull()

# Verificar si el resto de las columnas son nulas
df_sin_operario_entrada = df_bonos_trab.drop(columns=['Operario'])
condicion_resto_nulos = df_sin_operario_entrada.isnull().all(axis=1)

# Combinar las dos condiciones
condicion_final = condicion_operario_entrada & condicion_resto_nulos

# Filtrar filas que cumplen con ambas condiciones
filas_filtradas = df_bonos_trab[condicion_final]

# Mostrar el resultado
print(filas_filtradas)


#NO HAY CASOSSSSS

Empty DataFrame
Columns: [Tall, Fecha, Secc, Operario, NOMBRE OPERARIO, Ref.OR, Tipo O.R., IDV, Matricula, Entra, Salid, DIF TRAB]
Index: []

In [17]:
filas_todos_nulos = df_bonos_trab.isnull().all(axis=1)

# Filtrar filas con todos los valores nulos
filas_nulas = df_bonos_trab[filas_todos_nulos]
print(filas_nulas)

      Tall Fecha Secc  Operario NOMBRE OPERARIO  Ref.OR  Tipo O.R.  IDV  \
12055  NaN   NaT  NaN       NaN             NaN     NaN        NaN  NaN

      Matricula Entra Salid  DIF TRAB
12055       NaN   NaN   NaN       NaN

In [18]:
df_bonos_trab.iloc[12050:]
#vemos que no es necesario entonces la funcion ffill, pues seria un error de final de doc excel

,Tall,Fecha,Secc,Operario,NOMBRE OPERARIO,Ref.OR,Tipo O.R.,IDV,Matricula,Entra,Salid,DIF TRAB
12050,8,2024-11-05,MR,8023.0,JON SANCHEZ REGUERO,NaN,NaN,NaN,NaN,NaN,NaN,0.0
12051,8,2024-11-06,MR,8023.0,JON SANCHEZ REGUERO,NaN,NaN,NaN,NaN,NaN,NaN,0.0
12052,8,2024-11-07,MR,8023.0,JON SANCHEZ REGUERO,NaN,NaN,NaN,NaN,NaN,NaN,0.0
12053,8,2024-11-08,MR,8023.0,JON SANCHEZ REGUERO,NaN,NaN,NaN,NaN,NaN,NaN,0.0
12054,8,2024-11-09,MR,8023.0,JON SANCHEZ REGUERO,NaN,NaN,NaN,NaN,NaN,NaN,0.0
12055,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12056,***,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

TALLER ORDEN REP

In [8]:
# Verificar si 'operario' y 'entrada' no son nulos
condicion_operario_entrada = df_taller_orden_rep['MO.SUB'].notnull()

# Verificar si el resto de las columnas son nulas
df_sin_operario_entrada = df_taller_orden_rep.drop(columns=['MO.SUB'])
condicion_resto_nulos = df_sin_operario_entrada.isnull().all(axis=1)

# Combinar las dos condiciones
condicion_final = condicion_operario_entrada & condicion_resto_nulos

# Filtrar filas que cumplen con ambas condiciones
filas_filtradas = df_taller_orden_rep[condicion_final]

# Mostrar el resultado
print(filas_filtradas)


#AQUI VEMOS UN MONTON DE CASOS!!!!!!

     Tall  REF.OR  IDV Matricula Cta.cargo Nombre cliente DNI/CIF C.P. Marca  \
1186  NaN     NaN  NaN       NaN       NaN            NaN     NaN  NaN   NaN
3996  NaN     NaN  NaN       NaN       NaN            NaN     NaN  NaN   NaN
3999  NaN     NaN  NaN       NaN       NaN            NaN     NaN  NaN   NaN
4001  NaN     NaN  NaN       NaN       NaN            NaN     NaN  NaN   NaN
4004  NaN     NaN  NaN       NaN       NaN            NaN     NaN  NaN   NaN
4006  NaN     NaN  NaN       NaN       NaN            NaN     NaN  NaN   NaN
4008  NaN     NaN  NaN       NaN       NaN            NaN     NaN  NaN   NaN
4356  NaN     NaN  NaN       NaN       NaN            NaN     NaN  NaN   NaN

     Tipo O.R.  ...  MO.SUB Recamb. COSTO MO COSTO SUB Costo rec Nro.local.  \
1186       NaN  ...     5.0     NaN      NaN       NaN       NaN        NaN
3996       NaN  ...     4.0     NaN      NaN       NaN       NaN        NaN
3999       NaN  ...    39.0     NaN      NaN       NaN       NaN        NaN
4001       NaN  ...     5.0     NaN      NaN       NaN       NaN        NaN
4004       NaN  ...     7.0     NaN      NaN       NaN       NaN        NaN
4006       NaN  ...     1.0     NaN      NaN       NaN       NaN        NaN
4008       NaN  ...     4.0     NaN      NaN       NaN       NaN        NaN
4356       NaN  ...     8.0     NaN      NaN       NaN       NaN        NaN

      Est  Serie/num  Bastidor  Cta. tit
1186  NaN        NaN       NaN       NaN
3996  NaN        NaN       NaN       NaN
3999  NaN        NaN       NaN       NaN
4001  NaN        NaN       NaN       NaN
4004  NaN        NaN       NaN       NaN
4006  NaN        NaN       NaN       NaN
4008  NaN        NaN       NaN       NaN
4356  NaN        NaN       NaN       NaN

[8 rows x 32 columns]

In [93]:
df_taller_orden_rep

# Especifica las columnas que deben tener valores no nulos
key_columns = ['MO.SUB']

# Identificar filas donde las columnas clave no sean nulas, y el resto sean nulas
rows_to_fill = df_taller_orden_rep[key_columns].notna().all(axis=1) & df_taller_orden_rep.drop(columns=key_columns).isna().all(axis=1)

# Aplicar ffill() solo en las filas identificadas
df_taller_orden_rep.loc[rows_to_fill] = df_taller_orden_rep.loc[rows_to_fill].ffill()

C:\Users\valvanuz.saro\AppData\Local\Temp\ipykernel_43908\3840826968.py:10: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_taller_orden_rep.loc[rows_to_fill] = df_taller_orden_rep.loc[rows_to_fill].ffill()

In [95]:
# Aplicar ffill solo en la fila que tiene todos los valores NaN excepto en 'MO.SUB'
row_to_fill = (df_taller_orden_rep.iloc[1].isna().sum() == len(df_taller_orden_rep.columns) - 1) and not df_taller_orden_rep.iloc[1]['MO.SUB'] is np.nan

if row_to_fill:
    df_taller_orden_rep.iloc[1] = df_taller_orden_rep.iloc[1].fillna(df.iloc[0])

In [98]:
# Detectar filas que cumplen la condición: todos NaN menos 'MO.SUB'
row_to_fill = df_taller_orden_rep.iloc[1].isna().sum() == len(df_taller_orden_rep.columns) - 1 and not pd.isna(df.iloc[1]['MO.SUB'])

if row_to_fill:
    # Rellenar la fila usando los valores de la fila superior
    df_taller_orden_rep.iloc[1] = df_taller_orden_rep.iloc[1].combine_first(df_taller_orden_rep.iloc[0])

In [9]:
# Filtrar las filas donde 'MO.SUB' no sea nulo pero el resto de las columnas sean nulas
columnas_sin_mosub = [col for col in df_taller_orden_rep.columns if col != 'MO.SUB']
mascara = df_taller_orden_rep['MO.SUB'].notnull() & df_taller_orden_rep[columnas_sin_mosub].isnull().all(axis=1)

# Identificar las filas a modificar
filas_a_rellenar = df_taller_orden_rep[mascara]
print(filas_a_rellenar)

     Tall  REF.OR  IDV Matricula Cta.cargo Nombre cliente DNI/CIF C.P. Marca  \
1186  NaN     NaN  NaN       NaN       NaN            NaN     NaN  NaN   NaN
3996  NaN     NaN  NaN       NaN       NaN            NaN     NaN  NaN   NaN
3999  NaN     NaN  NaN       NaN       NaN            NaN     NaN  NaN   NaN
4001  NaN     NaN  NaN       NaN       NaN            NaN     NaN  NaN   NaN
4004  NaN     NaN  NaN       NaN       NaN            NaN     NaN  NaN   NaN
4006  NaN     NaN  NaN       NaN       NaN            NaN     NaN  NaN   NaN
4008  NaN     NaN  NaN       NaN       NaN            NaN     NaN  NaN   NaN
4356  NaN     NaN  NaN       NaN       NaN            NaN     NaN  NaN   NaN

     Tipo O.R.  ...  MO.SUB Recamb. COSTO MO COSTO SUB Costo rec Nro.local.  \
1186       NaN  ...     5.0     NaN      NaN       NaN       NaN        NaN
3996       NaN  ...     4.0     NaN      NaN       NaN       NaN        NaN
3999       NaN  ...    39.0     NaN      NaN       NaN       NaN        NaN
4001       NaN  ...     5.0     NaN      NaN       NaN       NaN        NaN
4004       NaN  ...     7.0     NaN      NaN       NaN       NaN        NaN
4006       NaN  ...     1.0     NaN      NaN       NaN       NaN        NaN
4008       NaN  ...     4.0     NaN      NaN       NaN       NaN        NaN
4356       NaN  ...     8.0     NaN      NaN       NaN       NaN        NaN

      Est  Serie/num  Bastidor  Cta. tit
1186  NaN        NaN       NaN       NaN
3996  NaN        NaN       NaN       NaN
3999  NaN        NaN       NaN       NaN
4001  NaN        NaN       NaN       NaN
4004  NaN        NaN       NaN       NaN
4006  NaN        NaN       NaN       NaN
4008  NaN        NaN       NaN       NaN
4356  NaN        NaN       NaN       NaN

[8 rows x 32 columns]

In [11]:
# Aplicar forward fill en las filas seleccionadas para las columnas relevantes
for col in columnas_sin_mosub:
    df_taller_orden_rep.loc[mascara, col] = df_taller_orden_rep[col].fillna(method='ffill')

C:\Users\valvanuz.saro\AppData\Local\Temp\ipykernel_57504\2010781938.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_taller_orden_rep.loc[mascara, col] = df_taller_orden_rep[col].fillna(method='ffill')
C:\Users\valvanuz.saro\AppData\Local\Temp\ipykernel_57504\2010781938.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_taller_orden_rep.loc[mascara, col] = df_taller_orden_rep[col].fillna(method='ffill')
C:\Users\valvanuz.saro\AppData\Local\Temp\ipykernel_57504\2010781938.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_taller_orden_rep.loc[mascara, col] = df_taller_orden_rep[col].fillna(method='ffill')
C:\Users\valvanuz.saro\AppData\Local\Temp\ipykernel_57504\2010781938.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_taller_orden_rep.loc[mascara, col] = df_taller_orden_rep[col].fillna(method='ffill')
C:\Users\valvanuz.saro\AppData\Local\Temp\ipykernel_57504\2010781938.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_taller_orden_rep.loc[mascara, col] = df_taller_orden_rep[col].fillna(method='ffill')
C:\Users\valvanuz.saro\AppData\Local\Temp\ipykernel_57504\2010781938.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_taller_orden_rep.loc[mascara, col] = df_taller_orden_rep[col].fillna(method='ffill')
C:\Users\valvanuz.saro\AppData\Local\Temp\ipykernel_57504\2010781938.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_taller_orden_rep.loc[mascara, col] = df_taller_orden_rep[col].fillna(method='ffill')
C:\Users\valvanuz.saro\AppData\Local\Temp\ipykernel_57504\2010781938.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_taller_orden_rep.loc[mascara, col] = df_taller_orden_rep[col].fillna(method='ffill')
C:\Users\valvanuz.saro\AppData\Local\Temp\ipykernel_57504\2010781938.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_taller_orden_rep.loc[mascara, col] = df_taller_orden_rep[col].fillna(method='ffill')
C:\Users\valvanuz.saro\AppData\Local\Temp\ipykernel_57504\2010781938.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_taller_orden_rep.loc[mascara, col] = df_taller_orden_rep[col].fillna(method='ffill')
C:\Users\valvanuz.saro\AppData\Local\Temp\ipykernel_57504\2010781938.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_taller_orden_rep.loc[mascara, col] = df_taller_orden_rep[col].fillna(method='ffill')
C:\Users\valvanuz.saro\AppData\Local\Temp\ipykernel_57504\2010781938.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_taller_orden_rep.loc[mascara, col] = df_taller_orden_rep[col].fillna(method='ffill')
C:\Users\valvanuz.saro\AppData\Local\Temp\ipykernel_57504\2010781938.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_taller_orden_rep.loc[mascara, col] = df_taller_orden_rep[col].fillna(method='ffill')
C:\Users\valvanuz.saro\AppData\Local\Temp\ipykernel_57504\2010781938.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_taller_orden_rep.loc[mascara, col] = df_taller_orden_rep[col].fillna(method='ffill')
C:\Users\valvanuz.saro\AppData\Local\Temp\ipykernel_57504\2010781938.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_taller_orden_rep.loc[mascara, col] = df_taller_orden_rep[col].fillna(method='ffill')
C:\Users\valvanuz.saro\AppData\Local\Temp\ipykernel_57504\2010781938.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_taller_orden_rep.loc[mascara, col] = df_taller_orden_rep[col].fillna(method='ffill')
C:\Users\valvanuz.saro\AppData\Local\Temp\ipykernel_57504\2010781938.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_taller_orden_rep.loc[mascara, col] = df_taller_orden_rep[col].fillna(method='ffill')
C:\Users\valvanuz.saro\AppData\Local\Temp\ipykernel_57504\2010781938.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_taller_orden_rep.loc[mascara, col] = df_taller_orden_rep[col].fillna(method='ffill')
C:\Users\valvanuz.saro\AppData\Local\Temp\ipykernel_57504\2010781938.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_taller_orden_rep.loc[mascara, col] = df_taller_orden_rep[col].fillna(method='ffill')
C:\Users\valvanuz.saro\AppData\Local\Temp\ipykernel_57504\2010781938.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_taller_orden_rep.loc[mascara, col] = df_taller_orden_rep[col].fillna(method='ffill')
C:\Users\valvanuz.saro\AppData\Local\Temp\ipykernel_57504\2010781938.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_taller_orden_rep.loc[mascara, col] = df_taller_orden_rep[col].fillna(method='ffill')
C:\Users\valvanuz.saro\AppData\Local\Temp\ipykernel_57504\2010781938.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_taller_orden_rep.loc[mascara, col] = df_taller_orden_rep[col].fillna(method='ffill')
C:\Users\valvanuz.saro\AppData\Local\Temp\ipykernel_57504\2010781938.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_taller_orden_rep.loc[mascara, col] = df_taller_orden_rep[col].fillna(method='ffill')
C:\Users\valvanuz.saro\AppData\Local\Temp\ipykernel_57504\2010781938.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_taller_orden_rep.loc[mascara, col] = df_taller_orden_rep[col].fillna(method='ffill')
C:\Users\valvanuz.saro\AppData\Local\Temp\ipykernel_57504\2010781938.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_taller_orden_rep.loc[mascara, col] = df_taller_orden_rep[col].fillna(method='ffill')
C:\Users\valvanuz.saro\AppData\Local\Temp\ipykernel_57504\2010781938.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_taller_orden_rep.loc[mascara, col] = df_taller_orden_rep[col].fillna(method='ffill')
C:\Users\valvanuz.saro\AppData\Local\Temp\ipykernel_57504\2010781938.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_taller_orden_rep.loc[mascara, col] = df_taller_orden_rep[col].fillna(method='ffill')
C:\Users\valvanuz.saro\AppData\Local\Temp\ipykernel_57504\2010781938.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_taller_orden_rep.loc[mascara, col] = df_taller_orden_rep[col].fillna(method='ffill')
C:\Users\valvanuz.saro\AppData\Local\Temp\ipykernel_57504\2010781938.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_taller_orden_rep.loc[mascara, col] = df_taller_orden_rep[col].fillna(method='ffill')
C:\Users\valvanuz.saro\AppData\Local\Temp\ipykernel_57504\2010781938.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_taller_orden_rep.loc[mascara, col] = df_taller_orden_rep[col].fillna(method='ffill')
C:\Users\valvanuz.saro\AppData\Local\Temp\ipykernel_57504\2010781938.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_taller_orden_rep.loc[mascara, col] = df_taller_orden_rep[col].fillna(method='ffill')

In [12]:
# Aplicar forward fill en las filas seleccionadas para las columnas relevantes
for col in columnas_sin_mosub:
    df_taller_orden_rep.loc[mascara, col] = df_taller_orden_rep[col].ffill()

In [14]:
# Guardar los cambios en el archivo Excel
df_taller_orden_rep.to_excel(excel_path_2_taller_orden_rep, index=False)

In [15]:
df_taller_orden_rep.iloc[1180:1190]

,Tall,REF.OR,IDV,Matricula,Cta.cargo,Nombre cliente,DNI/CIF,C.P.,Marca,Tipo O.R.,...,MO.SUB,Recamb.,COSTO MO,COSTO SUB,Costo rec,Nro.local.,Est,Serie/num,Bastidor,Cta. tit
1180,133,29115881.0,131891.0,AI88TG,116G,ORDENES REPARACION GARA,NaN,0,RV,21,...,0.0,27.50,0.00,0.00,22.05,332100534,C,2024GARTVI 424,VF620J166MB001156,45795
1181,133,29106351.0,118936.0,4881JHW,116G,ORDENES REPARACION GARA,NaN,0,RV,21,...,0.0,5306.44,124.43,0.00,4665.18,332100508,C,2024GARTVI 423,VF611A160GD010839,38920
1182,133,29119121.0,131684.0,AJ05AS,116G,ORDENES REPARACION GARA,NaN,0,RV,21,...,0.0,27.50,0.00,0.00,22.05,332100544,C,2024GARTVI 428,VF620J168MB001157,45795
1183,133,29099221.0,136045.0,4349MSL,116G,ORDENES REPARACION GARA,NaN,0,RV,21,...,0.0,74.82,36.06,0.00,65.87,332100485,C,2024GARTVI 430,VF611A367RD052182,92462
1184,133,29115761.0,131684.0,AJ05AS,116G,ORDENES REPARACION GARA,NaN,0,RV,21,...,0.0,104.97,26.36,0.00,77.56,332100535,C,2024GARTVI 429,VF620J168MB001157,45795
1185,133,29118901.0,122422.0,2806LZX,116G,ORDENES REPARACION GARA,NaN,0,RV,21,...,40647.6,0.00,0.00,40647.65,0.00,RE332100545,C,2024GARTVI 431,VF611A369ND038570,88539
1186,133,29118901.0,122422.0,2806LZX,116G,ORDENES REPARACION GARA,A46080750,0,RV,21,...,5.0,0.00,0.00,40647.65,0.00,RE332100545,C,2024GARTVI 431,VF611A369ND038570,88539
1187,133,29119101.0,129419.0,2552MSR,116G,ORDENES REPARACION GARA,NaN,0,RV,21,...,0.0,67.01,18.98,0.00,53.12,332100537,C,2024GARTVI 426,VF631S364PD002223,41053
1188,133,29119111.0,117796.0,2144LHH,116G,ORDENES REPARACION GARA,NaN,0,RV,21,...,0.0,514.20,15.82,0.00,395.53,332100539,C,2024GARTVI 427,VF611A36XLD025890,38920
1189,133,29115851.0,116767.0,8932LFM,116G,ORDENES REPARACION GARA,NaN,0,RV,21,...,0.0,5.98,5.28,0.00,4.60,332100532,C,2024GARTVI 438,VF611A36XLD024674,38920

In [9]:
df_taller_orden_rep.loc[1180: 1190, :] #NECESARIO EN LA 1186 POR EJEMPLO ENTRE OTROS CASOS

,Tall,REF.OR,IDV,Matricula,Cta.cargo,Nombre cliente,DNI/CIF,C.P.,Marca,Tipo O.R.,...,MO.SUB,Recamb.,COSTO MO,COSTO SUB,Costo rec,Nro.local.,Est,Serie/num,Bastidor,Cta. tit
1180,133,29115881.0,131891.0,AI88TG,116G,ORDENES REPARACION GARA,NaN,0,RV,21,...,0.0,27.50,0.00,0.00,22.05,332100534,C,2024GARTVI 424,VF620J166MB001156,45795
1181,133,29106351.0,118936.0,4881JHW,116G,ORDENES REPARACION GARA,NaN,0,RV,21,...,0.0,5306.44,124.43,0.00,4665.18,332100508,C,2024GARTVI 423,VF611A160GD010839,38920
1182,133,29119121.0,131684.0,AJ05AS,116G,ORDENES REPARACION GARA,NaN,0,RV,21,...,0.0,27.50,0.00,0.00,22.05,332100544,C,2024GARTVI 428,VF620J168MB001157,45795
1183,133,29099221.0,136045.0,4349MSL,116G,ORDENES REPARACION GARA,NaN,0,RV,21,...,0.0,74.82,36.06,0.00,65.87,332100485,C,2024GARTVI 430,VF611A367RD052182,92462
1184,133,29115761.0,131684.0,AJ05AS,116G,ORDENES REPARACION GARA,NaN,0,RV,21,...,0.0,104.97,26.36,0.00,77.56,332100535,C,2024GARTVI 429,VF620J168MB001157,45795
1185,133,29118901.0,122422.0,2806LZX,116G,ORDENES REPARACION GARA,NaN,0,RV,21,...,40647.6,0.00,0.00,40647.65,0.00,RE332100545,C,2024GARTVI 431,VF611A369ND038570,88539
1186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1187,133,29119101.0,129419.0,2552MSR,116G,ORDENES REPARACION GARA,NaN,0,RV,21,...,0.0,67.01,18.98,0.00,53.12,332100537,C,2024GARTVI 426,VF631S364PD002223,41053
1188,133,29119111.0,117796.0,2144LHH,116G,ORDENES REPARACION GARA,NaN,0,RV,21,...,0.0,514.20,15.82,0.00,395.53,332100539,C,2024GARTVI 427,VF611A36XLD025890,38920
1189,133,29115851.0,116767.0,8932LFM,116G,ORDENES REPARACION GARA,NaN,0,RV,21,...,0.0,5.98,5.28,0.00,4.60,332100532,C,2024GARTVI 438,VF611A36XLD024674,38920
1190,133,29118831.0,123167.0,2454MCV,116G,ORDENES REPARACION GARA,NaN,0,RV,21,...,0.0,449.00,27.63,0.00,345.38,332100542,C,2024GARTVI 436,VF611A362PD041264,88539

BONOS PRESENCIA

In [39]:
# Verificar si 'operario' y 'entrada' no son nulos
condicion_operario_entrada = df_bono_pres['Operario'].notnull()  & df_bono_pres['ENTRADA PRES'].notnull()

# Verificar si el resto de las columnas son nulas
df_sin_operario_entrada = df_bono_pres.drop(columns=['Operario', 'ENTRADA PRES'])
condicion_resto_nulos = df_sin_operario_entrada.isnull().all(axis=1)

# Combinar las dos condiciones
condicion_final = condicion_operario_entrada & condicion_resto_nulos

# Filtrar filas que cumplen con ambas condiciones
filas_filtradas = df_bono_pres[condicion_final]

# Mostrar el resultado
print(filas_filtradas)


#NO HAY CASOS

Empty DataFrame
Columns: [Tall, Fecha, Secc, Operario, NOMBRE OPERARIO, ENTRADA PRES, SALIDA PRESE, DIF.PRES, Tipo h]
Index: []

In [38]:
print(df_bono_pres.columns)

Index(['Tall', 'Fecha', 'Secc', 'Operario', 'NOMBRE OPERARIO', 'ENTRADA PRES',
       'SALIDA PRESE', 'DIF.PRES', 'Tipo h'],
      dtype='object')

In [19]:

#comprob por si acaso

filas_todos_nulos = df_bono_pres.isnull().all(axis=1)

# Filtrar filas con todos los valores nulos
filas_nulas = df_bono_pres[filas_todos_nulos]
print(filas_nulas)

     Tall Fecha Secc  Operario NOMBRE OPERARIO ENTRADA PRES SALIDA PRESE  \
7696  NaN   NaT  NaN       NaN             NaN          NaN          NaN

      DIF.PRES Tipo h
7696       NaN    NaN

In [20]:
df_bono_pres.iloc[7690:] #no necesario por final del excel no por necesidad de autorellenado

,Tall,Fecha,Secc,Operario,NOMBRE OPERARIO,ENTRADA PRES,SALIDA PRESE,DIF.PRES,Tipo h
7690,8,2024-11-04,MR,8023.0,JON SANCHEZ REGUERO,NaN,NaN,0.0,NaN
7691,8,2024-11-05,MR,8023.0,JON SANCHEZ REGUERO,NaN,NaN,0.0,NaN
7692,8,2024-11-06,MR,8023.0,JON SANCHEZ REGUERO,NaN,NaN,0.0,NaN
7693,8,2024-11-07,MR,8023.0,JON SANCHEZ REGUERO,NaN,NaN,0.0,NaN
7694,8,2024-11-08,MR,8023.0,JON SANCHEZ REGUERO,NaN,NaN,0.0,NaN
7695,8,2024-11-09,MR,8023.0,JON SANCHEZ REGUERO,NaN,NaN,0.0,NaN
7696,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7697,***,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

STOCK

In [42]:
print(df_stock.columns)

Index(['Alma', 'Artículo', 'Mar', 'Ref.articulo', 'Descripción', 'Gru',
       'Famil', 'Fam.apro', 'F.Marketin', 'CLAVE DTO', 'P.V.P.', 'Costo medi',
       'Exist.', 'Valor stock', 'F.ul.ent', 'F.ul.sal', 'Cat'],
      dtype='object')

In [43]:
# Verificar si 'operario' y 'entrada' no son nulos
condicion_operario_entrada = df_stock['Alma'].notnull()  & df_stock['Ref.articulo'].notnull()

# Verificar si el resto de las columnas son nulas
df_sin_operario_entrada = df_stock.drop(columns=['Alma', 'Ref.articulo'])
condicion_resto_nulos = df_sin_operario_entrada.isnull().all(axis=1)

# Combinar las dos condiciones
condicion_final = condicion_operario_entrada & condicion_resto_nulos

# Filtrar filas que cumplen con ambas condiciones
filas_filtradas = df_stock[condicion_final]

# Mostrar el resultado
print(filas_filtradas)


#NO HAY CASOS

Empty DataFrame
Columns: [Alma, Artículo, Mar, Ref.articulo, Descripción, Gru, Famil, Fam.apro, F.Marketin, CLAVE DTO, P.V.P., Costo medi, Exist., Valor stock, F.ul.ent, F.ul.sal, Cat]
Index: []

In [21]:
filas_todos_nulos = df_stock.isnull().all(axis=1)

# Filtrar filas con todos los valores nulos
filas_nulas = df_stock[filas_todos_nulos]
print(filas_nulas)

     Alma Artículo  Mar Ref.articulo Descripción  Gru Famil Fam.apro  \
6244  NaN      NaN  NaN          NaN         NaN  NaN   NaN      NaN

      F.Marketin CLAVE DTO  P.V.P.  Costo medi  Exist.  Valor stock F.ul.ent  \
6244         NaN       NaN     NaN         NaN     NaN          NaN      NaT

     F.ul.sal  Cat
6244      NaT  NaN

In [66]:
import pyspark.sql.functions

ModuleNotFoundError: No module named 'pyspark'

In [65]:
from pyspark.sql.functions import col
df_stock.filter(col('Alma') == '***').count()

ModuleNotFoundError: No module named 'pyspark'

In [67]:
filtered_count = df_stock[df_stock['Alma'] == '***'].shape[0]

print(filtered_count)

1

In [22]:
df_stock.iloc[6240:] #error final del excel

,Alma,Artículo,Mar,Ref.articulo,Descripción,Gru,Famil,Fam.apro,F.Marketin,CLAVE DTO,P.V.P.,Costo medi,Exist.,Valor stock,F.ul.ent,F.ul.sal,Cat
6240,161,3/ZAPATAROR190,3.0,ZAPATAROR190,ZAPATA DE FRENO 190,OT,OR,OR,NaN,VQ,56.00,28.00,0.0,0.00,2024-09-10,2024-09-10,NaN
6241,131,3/ZAPATARVI175,3.0,ZAPATARVI175,ZAPATA 175MM,OT,OR,OR,NaN,VQ,50.00,35.00,0.0,0.00,2024-09-26,2024-09-26,NaN
6242,161,3/ZAPATASAF200,3.0,ZAPATASAF200,ZAPATA FRENO,OT,OR,OR,NaN,QN,42.00,25.00,0.0,0.00,2024-10-28,2024-11-04,NaN
6243,2,3/ZB2BE101,3.0,ZB2BE101,CONTACTO,OT,OR,NaN,NaN,O,10.71,6.96,1.0,6.96,2024-10-30,NaT,NaN
6244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
6245,***,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN

MOSTRADOR

In [44]:
print(df_mostrador.columns)

Index(['Alma', 'Refer.', 'Serie/num', 'Fecha', 'Cuenta', 'Nombre cliente',
       'DNI/CIF', 'C.P.', 'Tipo de cl', 'canal', 'Vende', 'Tipo venta',
       'Marca', 'Artículo', 'Denominacion', 'Fam.apro', 'F.Marketin',
       'Familia', 'Grupo', 'Can', 'P.V.P.', 'Dto.', 'Neto', 'Costo', '% Ben',
       'Beneficio'],
      dtype='object')

In [45]:
# Verificar si 'operario' y 'entrada' no son nulos
condicion_operario_entrada = df_mostrador['Refer.'].notnull() 

# Verificar si el resto de las columnas son nulas
df_sin_operario_entrada = df_mostrador.drop(columns=['Refer.'])
condicion_resto_nulos = df_sin_operario_entrada.isnull().all(axis=1)

# Combinar las dos condiciones
condicion_final = condicion_operario_entrada & condicion_resto_nulos

# Filtrar filas que cumplen con ambas condiciones
filas_filtradas = df_mostrador[condicion_final]

# Mostrar el resultado
print(filas_filtradas)


#NO HAY CASOS

Empty DataFrame
Columns: [Alma, Refer., Serie/num, Fecha, Cuenta, Nombre cliente, DNI/CIF, C.P., Tipo de cl, canal, Vende, Tipo venta, Marca, Artículo, Denominacion, Fam.apro, F.Marketin, Familia, Grupo, Can, P.V.P., Dto., Neto, Costo, % Ben, Beneficio]
Index: []

[0 rows x 26 columns]

In [23]:
filas_todos_nulos = df_mostrador.isnull().all(axis=1)

# Filtrar filas con todos los valores nulos
filas_nulas = df_mostrador[filas_todos_nulos]
print(filas_nulas)

     Alma Refer. Serie/num Fecha Cuenta Nombre cliente DNI/CIF C.P.  \
2612  NaN    NaN       NaN   NaT    NaN            NaN     NaN  NaN

     Tipo de cl  canal  ...  F.Marketin Familia  Grupo Can P.V.P. Dto.  Neto  \
2612        NaN    NaN  ...         NaN     NaN    NaN NaN    NaN  NaN   NaN

     Costo % Ben  Beneficio
2612   NaN   NaN        NaN

[1 rows x 26 columns]

In [69]:
df_mostrador.iloc[2610:] #no necesita final del excel

,Alma,Refer.,Serie/num,Fecha,Cuenta,Nombre cliente,DNI/CIF,C.P.,Tipo de cl,canal,...,F.Marketin,Familia,Grupo,Can,P.V.P.,Dto.,Neto,Costo,% Ben,Beneficio
2610,2,29139922,2024INTR 1769,2024-10-28,TR,TR CUENTA PARA TRASPASOS DE AL,NaN,NaN,NaN,NaN,...,NaN,655,EU6,1.0,326.39,NaN,326.39,326.39,0.0,0.0
2611,2,29064258,2024INTR 1767,2024-09-02,TR,TR CUENTA PARA TRASPASOS DE AL,NaN,NaN,NaN,NaN,...,NaN,671,EU6,1.0,589.13,NaN,589.13,589.13,0.0,0.0
2612,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2613,*** TOTAL,OTAL,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
df_mostrador.iloc[2610:] #no necesita final del excel

,Alma,Refer.,Serie/num,Fecha,Cuenta,Nombre cliente,DNI/CIF,C.P.,Tipo de cl,canal,...,F.Marketin,Familia,Grupo,Can,P.V.P.,Dto.,Neto,Costo,% Ben,Beneficio
2610,2,29139922,2024INTR 1769,2024-10-28,TR,TR CUENTA PARA TRASPASOS DE AL,NaN,NaN,NaN,NaN,...,NaN,655,EU6,1.0,326.39,NaN,326.39,326.39,0.0,0.0
2611,2,29064258,2024INTR 1767,2024-09-02,TR,TR CUENTA PARA TRASPASOS DE AL,NaN,NaN,NaN,NaN,...,NaN,671,EU6,1.0,589.13,NaN,589.13,589.13,0.0,0.0
2612,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2613,*** TOTAL,OTAL,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

TALLER ORDEN VENTA

In [47]:
print(df_taller_orden_venta.columns)

Index(['Alma', 'Refer.', 'Tipo venta', 'Recep', 'Tipo clien', 'Cuenta',
       'Nombre cliente', 'DNI/CIF', 'C.P.', 'Fec.sali', 'F.cierre', 'Artículo',
       'Denominacion', 'Famil', 'Fam.a', 'F.Marketing', 'Grupo', 'CLAVE DTO ',
       'Canti', 'P.V.P.', 'Dto.', 'Neto', 'Costo', 'Beneficio'],
      dtype='object')

In [48]:
# Verificar si 'operario' y 'entrada' no son nulos
condicion_operario_entrada = df_mostrador['Refer.'].notnull() 

# Verificar si el resto de las columnas son nulas
df_sin_operario_entrada = df_mostrador.drop(columns=['Refer.'])
condicion_resto_nulos = df_sin_operario_entrada.isnull().all(axis=1)

# Combinar las dos condiciones
condicion_final = condicion_operario_entrada & condicion_resto_nulos

# Filtrar filas que cumplen con ambas condiciones
filas_filtradas = df_mostrador[condicion_final]

# Mostrar el resultado
print(filas_filtradas)


#NO HAY CASOS

Empty DataFrame
Columns: [Alma, Refer., Serie/num, Fecha, Cuenta, Nombre cliente, DNI/CIF, C.P., Tipo de cl, canal, Vende, Tipo venta, Marca, Artículo, Denominacion, Fam.apro, F.Marketin, Familia, Grupo, Can, P.V.P., Dto., Neto, Costo, % Ben, Beneficio]
Index: []

[0 rows x 26 columns]

CLIENTES

In [49]:
print(df_cliente.columns)

Index(['Codigo cuenta', 'Cat', 'Nombre cliente', 'DNI/CIF', 'Dirección',
       'C.P.', 'Localidad', 'E-mail'],
      dtype='object')

In [50]:
# Verificar si 'operario' y 'entrada' no son nulos
condicion_operario_entrada = df_cliente['Codigo cuenta'].notnull() 

# Verificar si el resto de las columnas son nulas
df_sin_operario_entrada = df_cliente.drop(columns=['Codigo cuenta'])
condicion_resto_nulos = df_sin_operario_entrada.isnull().all(axis=1)

# Combinar las dos condiciones
condicion_final = condicion_operario_entrada & condicion_resto_nulos

# Filtrar filas que cumplen con ambas condiciones
filas_filtradas = df_cliente[condicion_final]

# Mostrar el resultado
print(filas_filtradas)


#NO HAY CASOS

Empty DataFrame
Columns: [Codigo cuenta, Cat, Nombre cliente, DNI/CIF, Dirección, C.P., Localidad, E-mail]
Index: []

VEHICULOS

In [51]:
print(df_vehiculos.columns)

Index(['IDV', 'Matrícula', 'Bastidor', 'Mar', 'Modelo', 'Cta Titul',
       'Cta. cli', 'Cta. condu', 'F. matri', 'KM', 'F. últ. ', 'Famil',
       'Cód. modelo'],
      dtype='object')

In [54]:
# Verificar si 'operario' y 'entrada' no son nulos
condicion_operario_entrada = df_vehiculos['Bastidor'].notnull() 

# Verificar si el resto de las columnas son nulas
df_sin_operario_entrada = df_vehiculos.drop(columns=['Bastidor'])
condicion_resto_nulos = df_sin_operario_entrada.isnull().all(axis=1)

# Combinar las dos condiciones
condicion_final = condicion_operario_entrada & condicion_resto_nulos

# Filtrar filas que cumplen con ambas condiciones
filas_filtradas = df_vehiculos[condicion_final]

# Mostrar el resultado
print(filas_filtradas)


#NO HAY CASOS

Empty DataFrame
Columns: [IDV, Matrícula, Bastidor, Mar, Modelo, Cta Titul, Cta. cli, Cta. condu, F. matri, KM, F. últ. , Famil, Cód. modelo]
Index: []

INVERTIDAS

In [17]:
df_invertidas.iloc[:10]

,Tall,REF.OR,Fec.apertu,F.cierre,Matricula,Cta.cargo,Tipo O.R.,Tipo fac,Recep,Operario,Tiempo asig,T.INVERT.,Bastidor
0,11,29073391.0,2024-09-10,2024-09-10,R5292BDL,9627596,44,23,91.0,301.0,1.00,0.00,VV1M3AA5ASN216310
1,11,29073371.0,2024-09-10,2024-09-10,R5292BDL,61781,51,6A,91.0,301.0,-1.00,0.00,VV1M3AA5ASN216310
2,131,29064771.0,2024-09-02,2024-09-03,8201KMX,39228,20,41,84.0,7027.0,0.70,0.65,VF640J867JB007574
3,131,29066521.0,2024-09-03,2024-09-03,4246KHJ,14605,20,41,84.0,7025.0,3.30,3.25,VF611A361JD013172
4,131,29064811.0,2024-09-02,2024-09-03,9673KSH,80129,55,41,84.0,7032.0,3.66,0.98,WJME62RN70C399600
5,131,29064821.0,2024-09-02,2024-09-03,3113KTS,80129,55,41,84.0,7032.0,3.66,1.57,WJMA62AN10C403344
6,131,29064831.0,2024-09-02,2024-09-03,9805KSH,80129,55,41,84.0,7032.0,3.66,1.40,WJME62RN70C399466
7,131,29069061.0,2024-09-04,2024-09-04,5211JMP,14605,20,41,84.0,7026.0,1.70,1.97,VF610A365GD004941
8,131,29069071.0,2024-09-04,2024-09-04,8527MNV,34170,20,41,84.0,7030.0,3.70,2.23,VF611J366RD000834
9,131,29069101.0,2024-09-04,2024-09-04,8647KRG,61781,20,6,84.0,7030.0,0.00,0.00,VF611A360KD016601

In [18]:
# Identificar las columnas que no sean 'Tiempo asig', 'Operario', 'T.INVERT.'
columnas_sin_pilares = [col for col in df_invertidas.columns if col not in ['Tiempo asig', 'Operario', 'T.INVERT.']]

# Crear la máscara:
# 1. Las columnas 'Tiempo asig', 'Operario', 'T.INVERT.' no son nulas en todas las filas
# 2. Todas las columnas restantes son nulas en cada fila
mascara2 = (
    df_invertidas[['Tiempo asig', 'Operario', 'T.INVERT.']].notnull().all(axis=1) &
    df_invertidas[columnas_sin_pilares].isnull().all(axis=1)
)

# Seleccionar las filas que cumplen la condición
filas_a_rellenar = df_invertidas[mascara2]
print(filas_a_rellenar)

Empty DataFrame
Columns: [Tall, REF.OR, Fec.apertu, F.cierre, Matricula, Cta.cargo, Tipo O.R., Tipo fac, Recep, Operario, Tiempo asig, T.INVERT., Bastidor]
Index: []

In [19]:
df_invertidas.iloc[20:30]

,Tall,REF.OR,Fec.apertu,F.cierre,Matricula,Cta.cargo,Tipo O.R.,Tipo fac,Recep,Operario,Tiempo asig,T.INVERT.,Bastidor
20,131,29066221.0,2024-09-03,2024-09-05,2348KYV,34801,20,41,84.0,7025.0,3.28,3.08,VF640J568KB012529
21,131,29066221.0,2024-09-03,2024-09-05,2348KYV,34801,20,41,84.0,7027.0,5.40,5.07,VF640J568KB012529
22,131,29066221.0,2024-09-03,2024-09-05,2348KYV,34801,20,41,84.0,7030.0,15.32,14.38,VF640J568KB012529
23,131,29066281.0,2024-09-03,2024-09-05,7529JGS,27011,20,41,84.0,7026.0,0.74,1.33,VF611A162FD009318
24,131,29066281.0,2024-09-03,2024-09-05,7529JGS,27011,20,41,84.0,7027.0,3.26,5.82,VF611A162FD009318
25,131,29064871.0,2024-09-02,2024-09-05,7454HFB,62065,20,41,84.0,7021.0,3.66,4.23,VF624GPA000047747
26,131,29064871.0,2024-09-02,2024-09-05,7454HFB,62065,20,41,84.0,7027.0,0.04,0.05,VF624GPA000047747
27,131,29066311.0,2024-09-03,2024-09-05,3174LNJ,92470,20,20B,84.0,7026.0,0.77,0.58,VF1MA000X66827491
28,131,29066311.0,2024-09-03,2024-09-05,3174LNJ,92470,20,20B,84.0,7027.0,1.63,1.23,VF1MA000X66827491
29,131,29071051.0,2024-09-05,2024-09-05,4577GZK,52779,20,20B,84.0,7026.0,1.60,1.42,VF6SHTF24A2112617

In [16]:

# Filtrar las filas donde 'MO.SUB' no sea nulo pero el resto de las columnas sean nulas
columnas_sin_pilares = [col for col in df_invertidas.columns if col not in ['Tiempo asig','Operario','T.INVERT.']]
mascara2 = df_invertidas[['Tiempo asig','Operario','T.INVERT.']].notnull() & df_invertidas[columnas_sin_pilares].isnull().all(axis=1)

# Identificar las filas a modificar
filas_a_rellenar = df_invertidas[mascara2]
print(filas_a_rellenar)

     Tall  REF.OR Fec.apertu F.cierre Matricula Cta.cargo Tipo O.R. Tipo fac  \
0     NaN     NaN        NaT      NaT       NaN       NaN       NaN      NaN
1     NaN     NaN        NaT      NaT       NaN       NaN       NaN      NaN
2     NaN     NaN        NaT      NaT       NaN       NaN       NaN      NaN
3     NaN     NaN        NaT      NaT       NaN       NaN       NaN      NaN
4     NaN     NaN        NaT      NaT       NaN       NaN       NaN      NaN
...   ...     ...        ...      ...       ...       ...       ...      ...
6717  NaN     NaN        NaT      NaT       NaN       NaN       NaN      NaN
6718  NaN     NaN        NaT      NaT       NaN       NaN       NaN      NaN
6719  NaN     NaN        NaT      NaT       NaN       NaN       NaN      NaN
6720  NaN     NaN        NaT      NaT       NaN       NaN       NaN      NaN
6721  NaN     NaN        NaT      NaT       NaN       NaN       NaN      NaN

      Recep  Operario  Tiempo asig  T.INVERT. Bastidor
0       NaN       NaN          NaN        NaN      NaN
1       NaN       NaN          NaN        NaN      NaN
2       NaN       NaN          NaN        NaN      NaN
3       NaN       NaN          NaN        NaN      NaN
4       NaN       NaN          NaN        NaN      NaN
...     ...       ...          ...        ...      ...
6717    NaN       NaN          NaN        NaN      NaN
6718    NaN       NaN          NaN        NaN      NaN
6719    NaN       NaN          NaN        NaN      NaN
6720    NaN       NaN          NaN        NaN      NaN
6721    NaN       NaN          NaN        NaN      NaN

[6722 rows x 13 columns]

In [ ]:
# Aplicar forward fill en las filas seleccionadas para las columnas relevantes
for col in columnas_sin_pilares:
    df_invertidas.loc[mascara2, col] = df_invertidas[col].ffill()

# Guardar los cambios en el archivo Excel
df_invertidas.to_excel(excel_path_7_invertidas, index=False)

In [55]:
print(df_invertidas.columns)

Index(['Tall', 'REF.OR', 'Fec.apertu', 'F.cierre', 'Matricula', 'Cta.cargo',
       'Tipo O.R.', 'Tipo fac', 'Recep', 'Operario', 'Tiempo asig',
       'T.INVERT.', 'Bastidor'],
      dtype='object')

In [75]:
# Verificar si 'operario' y 'entrada' no son nulos
condicion_operario_entrada = df_invertidas['Tiempo asig'].notnull() & df_invertidas['Operario'].notnull()  & df_invertidas['T.INVERT.'].notnull() 
# Verificar si el resto de las columnas son nulas
df_sin_operario_entrada = df_invertidas.drop(columns=[ 'Tiempo asig', 'Operario', 'T.INVERT.'])
condicion_resto_nulos = df_sin_operario_entrada.isnull().all(axis=1)

# Combinar las dos condiciones
condicion_final = condicion_operario_entrada & condicion_resto_nulos

# Filtrar filas que cumplen con ambas condiciones
filas_filtradas = df_invertidas[condicion_final]

# Mostrar el resultado
print(filas_filtradas)

Empty DataFrame
Columns: [Tall, REF.OR, Fec.apertu, F.cierre, Matricula, Cta.cargo, Tipo O.R., Tipo fac, Recep, Operario, Tiempo asig, T.INVERT., Bastidor]
Index: []

In [80]:
df_invertidas.iloc[6720:]

,Tall,REF.OR,Fec.apertu,F.cierre,Matricula,Cta.cargo,Tipo O.R.,Tipo fac,Recep,Operario,Tiempo asig,T.INVERT.,Bastidor
6720,8,29125411.0,2024-10-15,2024-10-16,9324KWF,44606,25,44,801.0,147.0,1.7,0.0,VF617CSA000000291
6721,***,29125411.0,2024-10-15,2024-10-16,9324KWF,44606,25,44,801.0,147.0,1.7,0.0,VF617CSA000000291

In [84]:
df_invertidas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6722 entries, 0 to 6721
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Tall         6722 non-null   object
 1   REF.OR       6722 non-null   float64
 2   Fec.apertu   6722 non-null   datetime64[ns]
 3   F.cierre     6722 non-null   datetime64[ns]
 4   Matricula    6722 non-null   object
 5   Cta.cargo    6722 non-null   object
 6   Tipo O.R.    6722 non-null   object
 7   Tipo fac     6722 non-null   object
 8   Recep        6722 non-null   float64
 9   Operario     6722 non-null   float64
 10  Tiempo asig  6722 non-null   float64
 11  T.INVERT.    6722 non-null   float64
 12  Bastidor     6722 non-null   object
dtypes: datetime64[ns](2), float64(5), object(6)
memory usage: 682.8+ KB

In [92]:
df_invertidas

# Especifica las columnas que deben tener valores no nulos
key_columns = ['Operario', 'Tiempo asig', 'T.INVERT.']

# Identificar filas donde las columnas clave no sean nulas, y el resto sean nulas
rows_to_fill = df_invertidas[key_columns].notna().all(axis=1) & df_invertidas.drop(columns=key_columns).isna().all(axis=1)

# Aplicar ffill() solo en las filas identificadas
df_invertidas.loc[rows_to_fill] = df_invertidas.loc[rows_to_fill].ffill()

In [90]:
df_invertidas.iloc[10:30] #comprob de ya ffill

,Tall,REF.OR,Fec.apertu,F.cierre,Matricula,Cta.cargo,Tipo O.R.,Tipo fac,Recep,Operario,Tiempo asig,T.INVERT.,Bastidor
10,131,29069111.0,2024-09-04,2024-09-04,9652KGP,79573,20,41,84.0,7026.0,1.00,0.52,VF611M168JD002576
11,131,29066201.0,2024-09-03,2024-09-04,5064KFS,92475,20,41,84.0,7027.0,2.30,1.78,VF1MA000657987764
12,131,29066301.0,2024-09-03,2024-09-04,8403LBS,29946,20,41,84.0,7030.0,1.00,1.70,VF611A160LD032687
13,131,29066261.0,2024-09-03,2024-09-04,7329JMH,44606,25,44,84.0,7026.0,2.60,2.40,VF610A36XGD004501
14,131,29066241.0,2024-09-03,2024-09-04,2597KCN,21526,28,41,84.0,7026.0,1.13,1.22,VF611A366JD010820
15,131,29066241.0,2024-09-03,2024-09-04,2597KCN,21526,28,41,84.0,7032.0,0.87,0.93,VF611A366JD010820
16,131,29069081.0,2024-09-04,2024-09-04,3113KTS,80129,55,41,84.0,7032.0,3.66,1.18,WJMA62AN10C403344
17,131,29069121.0,2024-09-04,2024-09-04,9902KSH,80129,55,41,84.0,7032.0,3.66,1.62,WJME62RN20C399732
18,131,29066251.0,2024-09-03,2024-09-04,3113KTS,80129,55,41,84.0,7032.0,3.66,2.10,WJMA62AN10C403344
19,131,29064751.0,2024-09-02,2024-09-05,1899KLC,32565,20,41,84.0,7030.0,7.50,7.10,VF6VF000060469062
20,131,29066221.0,2024-09-03,2024-09-05,2348KYV,34801,20,41,84.0,7025.0,3.28,3.08,VF640J568KB012529
21,131,29066221.0,2024-09-03,2024-09-05,2348KYV,34801,20,41,84.0,7027.0,5.40,5.07,VF640J568KB012529
22,131,29066221.0,2024-09-03,2024-09-05,2348KYV,34801,20,41,84.0,7030.0,15.32,14.38,VF640J568KB012529
23,131,29066281.0,2024-09-03,2024-09-05,7529JGS,27011,20,41,84.0,7026.0,0.74,1.33,VF611A162FD009318
24,131,29066281.0,2024-09-03,2024-09-05,7529JGS,27011,20,41,84.0,7027.0,3.26,5.82,VF611A162FD009318
25,131,29064871.0,2024-09-02,2024-09-05,7454HFB,62065,20,41,84.0,7021.0,3.66,4.23,VF624GPA000047747
26,131,29064871.0,2024-09-02,2024-09-05,7454HFB,62065,20,41,84.0,7027.0,0.04,0.05,VF624GPA000047747
27,131,29066311.0,2024-09-03,2024-09-05,3174LNJ,92470,20,20B,84.0,7026.0,0.77,0.58,VF1MA000X66827491
28,131,29066311.0,2024-09-03,2024-09-05,3174LNJ,92470,20,20B,84.0,7027.0,1.63,1.23,VF1MA000X66827491
29,131,29071051.0,2024-09-05,2024-09-05,4577GZK,52779,20,20B,84.0,7026.0,1.60,1.42,VF6SHTF24A2112617